body {
    margin: 0 auto;
    max-width: 45em;
    background-color: #f0f0f0;
    color: #303030;
    font-size: 16px;
    line-height: 1.5;
}

code {
    background-color: #dddddd;
    border-radius: 4px;
    padding: 4px;
}

pre>code {
    padding: 0;
    border-radius: 0;
}

pre {
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0.5em;
}

li {
    margin: 0.5em 0;
}

h1.title, p.author, p.date {
    text-align: center;
}
