body {
    margin: 0 auto;
    max-width: 800px;
    font-size: 16px;
}

h1,h2,h3 {
    font-family: sans-serif;
}

h1.title {
    font-size: 200%; 
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

p {
    text-align: justify;
    hyphens: auto;
}

pre {
    font-size: 80%;
}
