body {
    font-size: 8pt;
}

h1,h2,h3 {
    margin: 4pt 0;
    padding: 0;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

ul,ol {
    padding: 0 1em;
}

div.main {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}
