body {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
    min-width: 30em;
    font-family: sans-serif;
    font-size:; 16px;
    color: #333;
    background-color: #eee;
}

pre {
    background-color: #ddd;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid #bbb;
    margin: 0 0 1em 0;
}

code {
    background-color: #ddd;
    font-size: 110%;
    border-radius: 4px;
    padding: 0.1em 0.3em;
}

pre>code {
    border-radius: 0;
    padding: 0;
}

pre.sourceCode {
}

p {
    line-height: 130%;
}

li {
    margin: 0.5em 0;
}

.math {
    font-family: serif;
}

figure {
    margin-bottom: 2em;
}

figcaption {
    margin: 0.5em 0;
}

